
<div class="row">
  <div class="container-fluid p40" >
    <table *ngIf="vehicules.length else loader" class="table dark table-striped" [mfData]="vehicules|dataFilter:{id:filterID,title:filterTitle,url:filterUrl}" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
          <tr>
              <th >
                  Filter by ID:
                  <input class="form-control" [(ngModel)]="filterID"/>
              </th>
              <th >
                  Filter by title:
                  <input class="form-control" [(ngModel)]="filterTitle"/>
              </th>
              <th >
                  Filter by url:
                  <input class="form-control" [(ngModel)]="filterUrl"/>
              </th>
          </tr>
        <tr>
          <th style="width: 10%">


            <mfDefaultSorter by="id">id</mfDefaultSorter>
          </th>
          <th style="width: 30%">
            <mfDefaultSorter by="title">title</mfDefaultSorter>
          </th>
          <th style="width: 30%">
            <mfDefaultSorter by="url">url</mfDefaultSorter>
          </th>

        </tr>

      </thead>
      <tbody>

        <tr *ngFor="let item of mf.data">
          <td>{{item.id}}</td>
          <td>{{item.title}}</td>
          <td>{{item.url}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
    <div *ngIf="searchLoader">
      <app-loader></app-loader>
    </div>

  </div>
</div>
